.git
.gitignore
.dockerignore

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

backups
test-results
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/menu-items/
public/uploads/menu-items/*
!public/uploads/menu-items/.gitkeep

docs
coverage
dist
build
generated
.generated
.vscode
.idea

*.log
*.dump
*.tar.gz
*.zip
